@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

table {
	border-collapse: collapse;
}

caption {
	display: none;
}

a {
	text-decoration: none;
	color: inherit;
}

span{
		color: #1DBF73;
		font-size: 50px;
	}
	span:hover{
		color: #fff;
		transition: 0.5s;
	}
	.container {
		max-width: 90%;
		margin: 0 auto;
	}	
	.logo{
		font-size: 46px;
		color: #fff'
	}
	.header {
/* 		position: fixed; */
		background-color: #222;
		top: 0;
		left: 0;
		right: 0;
		transition: all 0.3s ease-in-out;
		z-index: 100;
	}
	.header .container {
 		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 80px;
		line-height: 80px;
		transition: all 0.3s ease-in-out;
		z-index: -3;
	}
	
	.header .container:nth-child(1) {
		left:0;
	}
 
		.header ul {
		display: flex;
		list-style-type: none;
		align-items: center;
		justify-content: center;
		overflow: hidden;
	}
	
	.submenu {
  		height: 0;
  		overflow: hidden;
  		display: none;
  		position: absolute;
	}
	
	.submenu > li {
  		line-height: 50px;
  		background-color: rgba(32,34,34, 0.5);
	}
	
	.header ul > li first-child:hover {
  		background-color: #94a9ff;
  		transition-duration: 0.5s;
	}
	
	.header ul > li:hover .submenu {
  		height: 200px;
  		transition-duration: 1s;
  		display: block;
  		font-weight: bold;
	}
/**********************세로 드롭다운 메뉴***************************88*/
	.header a {
		color: #fff;
		text-decoration: none;
		padding: 7px 15px;
		transition: all 0.3s ease-in-out;
	}
 
	.header.active {
		background-color: #fff;
		box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
	}
 
	.header.active a {
		color: #000;
	}
 
	.header.active .container {
		padding: 10px 0;
	}
 
	.header a.current, .header a:hover {
		color: #1DBF73;
		font-weight: bold;
	}
	.header .imgNoti{
		margin-top:30px;
		height:30px; 
		-webkit-filter: invert(100%);  
		filter: invert(100%);
	}
	.header .imgNoti:hover{
		 filter: sepia(100%);   
	}
	.header .imgLogout{
		margin-top:30px;
		height:25px; 
	}
	.header .imgLogout:hover{
		-webkit-filter: invert(1); 
	}

	.header .container .notification:hover {
		color: red;
	}
	.header .container .notification{
		position: relative;
	}
	.header .container .notification .badge {
	  position: absolute;
	  top: -7px;
	  right:11px;
	  border-radius: 80%;
	  background: red;
	  color: white;
	  height:17px;
	  line-height:15px;
	  width:17px;
	  text-align:center;
	  justify-content:center;
	  font-weight:bold;
	}
	
/*********************************** 헤더 *****************************************/
.bt_wrap input[type="button"]{
	display: inline-block;
    min-width: 80px;
   /*  margin-left: 10px; */
    padding: 10px;
    border-radius: 5px;
    font-size: 1.4rem;
    background: #000;
    color: #fff;
    background-color: #1DBF73;
    border: none;
    font-weight: bold;
    float: right;
/*     margin-left: 1020px; */
}

.board_list_wrap {
	width: 1200px;
	margin: 100px auto 0;
	position: relative;
}

.board_list_wrap h1 {
	text-align: left;
}

.board_list_wrap .main_title {
	height: 50px;
	border-bottom: 2px solid #1DBF73;
	padding-bottom: 10px;
	/* font-family: 'Concert One', cursive; */
}

.board_list {
	width: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	border-bottom: 2px solid #1DBF73;
	/* border-top: 2px solid #1DBF73; */
	
}

.board_list tr {
	border-top: 1px solid #1DBF73;
	/* margin-top: 3px; */
	margin-bottom: 3px;
	cursor: pointer;
}

.board_list th {
	padding: 20px;
	font-size: 18px;
}
 
.board_list td {
	padding: 10px;
	font-size: 15px;
	text-align: center;
	/* border-top: 1px solid #1DBF73; */
}

.board_list .tit {
	text-align: left;
	width: 500px;
}

.board_list .tit:hover {
	text-decoration: blink;
}

/* .board_list .mId {
	width: 200px
} */

/* .board_list .date { */
/* 	width: 70px */
/* } */

.board_list_wrap .paging {
	width: 500px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}

.board_list_wrap .paging a {
	display: inline-block;
	margin-left: 10px;
	padding: 4px 11px;
	/* border-radius: 100px; */
	/* background-color: #1DBF73; */
	font-size: 18px;
}

.board_list_wrap .paging a:first-child {
	margin-left: 0;
}

.board_list_wrap .paging a.btn {
	border: 1px solid #eee;
	background: #eee;
}


.board_list_wrap .paging a.num {
	/* border: 1px solid #1DBF73; */
	color: #9d9e9e;
	font-weight: bold;
}

.board_list_wrap .paging a.num2 {
	border: 1px solid #1DBF73;
	background-color: #1DBF73;
	color: #01612c;
	font-weight: bold;
	border-radius: 100px;
}

