@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

table {
	border-collapse: collapse;
}

caption {
	display: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.bt_wrap input[type="button"]{
	display: inline-block;
    min-width: 80px;
   /*  margin-left: 10px; */
    padding: 10px;
    border-radius: 5px;
    font-size: 1.4rem;
    background: #000;
    color: #fff;
    background-color: #1DBF73;
    border: none;
    font-weight: bold;
    /* font-family: 'Noto Sans KR', sans-serif; */
    /* margin-left: 1070px; */
}

.board_list_wrap {
	padding: 50px;
	width: 1000px;
	margin: 0 auto;
}

.board_list_wrap h1 {
	text-align: center;
}

.board_list_wrap .main_title {
	height: 50px;
	border-bottom: 2px solid #1DBF73;
	padding-bottom: 10px;
	/* font-family: 'Concert One', cursive; */
}

.board_list {
	width: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	border-bottom: 2px solid #1DBF73;
	/* border-top: 2px solid #1DBF73; */
	
}

.board_list tr {
	border-top: 1px solid #1DBF73;
	/* margin-top: 3px; */
	margin-bottom: 3px;
}

.board_list th {
	padding: 20px;
	font-size: 18px;
}
 
.board_list td {
	padding: 10px;
	font-size: 15px;
	text-align: center;
	/* border-top: 1px solid #1DBF73; */
}

.board_list .tit {
	text-align: left;
	width: 500px;
}

.board_list .tit:hover {
	text-decoration: blink;
}

/* .board_list .mId {
	width: 200px
} */

/* .board_list .date { */
/* 	width: 70px */
/* } */

.board_list_wrap .paging {
	width: 500px;
	margin: 0 auto;
	margin-top: 20px;
	text-align: center;
}

.board_list_wrap .paging a {
	display: inline-block;
	margin-left: 10px;
	padding: 4px 11px;
	/* border-radius: 100px; */
	/* background-color: #1DBF73; */
	font-size: 18px;
}

.board_list_wrap .paging a:first-child {
	margin-left: 0;
}

.board_list_wrap .paging a.btn {
	border: 1px solid #eee;
	background: #eee;
}


.board_list_wrap .paging a.num {
	/* border: 1px solid #1DBF73; */
	color: #9d9e9e;
	font-weight: bold;
}

.board_list_wrap .paging a.num2 {
	border: 1px solid #1DBF73;
	background-color: #1DBF73;
	color: #01612c;
	font-weight: bold;
	border-radius: 100px;
}
/* .bt_wrap {
	display: inline;
} */

