@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}

table {
	border-collapse: collapse;
}

caption {
	display: none;
}

a {
	text-decoration: none;
	color: inherit;
}
.bt_wrap button{
	display: inline-block;
    min-width: 80px;
    margin-left: 10px;
    padding: 10px;
    border-radius: 5px;
    font-size: 1.4rem;
    background: #000;
    color: #fff;
    background-color: #fe881d;
    border: none;
    font-weight: bold;
    font-family: 'Noto Sans KR', sans-serif;
}

.board_list_wrap {
	padding: 50px;
}

.board_list_wrap h1 {
	text-align: center;
}

.board_list_wrap .main_title {
	margin-bottom: 20px;
	height: 50px;
	border-bottom: 1px solid #fe881d;
	padding-bottom: 10px;
	font-family: 'Concert One', cursive;
}

.board_list {
	width: 100%;
	font-family: 'Noto Sans KR', sans-serif;
	/* border-top: 2px solid #fe881d; */
	
}

.board_list tr {
	border-bottom: 1px solid #d4d4d4;
}

.board_list th, 
.board_list td {
	padding: 10px;
	font-size: 14px;
}

.board_list td {
	text-align: center;
}


.board_list .tit {
	text-align: left;
	width: 700px
}

.board_list .tit:hover {
	text-decoration: blink;
}

/* .board_list .mId {
	width: 200px
} */

/* .board_list .date { */
/* 	width: 70px */
/* } */

.board_list_wrap .paging {
	margin-top: 20px;
	text-align: center;
	font-size: 15px;
}

.board_list_wrap .paging a {
	display: inline-block;
	margin-left: 10px;
	padding: 5px 10px;
	border-radius: 100px;
	font-size: 12px;
}

.board_list_wrap .paging a:first-child {
	margin-left: 0;
}

.board_list_wrap .paging a.btn {
	border: 1px solid #eee;
	background: #eee;
}


.board_list_wrap .paging a.num {
	border: 1px solid #fe881d;
	color: black;
	font-weight: bold;
}

.board_list_wrap .paging a.num2 {
	border: 1px solid #fe881d;
	color: red;
	font-weight: bold;
}

