@charset "UTF-8";
/* * {
    margin: 0;
    padding: 0;
} */
body {
	width: 100%;
	height: 100%;
	margin: 0 auto;
}

.modal{ 
  	position:absolute; width:100%; height:100%; background: rgba(0,0,0,0.5); /* top:0; left:0; */ display:none;
}

.modal_content{
  	width:300px; height:470px;
  	background:#FFFF; border-radius:10px; 
  	position:relative;  top:10%; /* left:30%; */
  	/* margin-top:-300px; margin-left:-200px; */
  	margin: 0 auto;
  	text-align:center;
  	box-sizing:border-box; /* padding:74px 0; */
  	line-height:23px; cursor:pointer;
}

a {
    text-decoration: none;
    color: #aaa;
    font-size: 0.7em;
}

header{
	display:flex;
	justify-content: center;
}

#login_wrap{
	width: 300px;
	margin: 0 auto;
}

form{
	padding:10px;
}
.input-box{
	position:relative;
	margin:10px 0;
}

.input-box > input{
	background:transparent;
	border:none;
	border-bottom: solid 1px #ccc;
	padding:20px 0px 5px 0px;
	width:100%;
}

input::placeholder{
	color:transparent;
}

input:placeholder-shown + label{
	color:#aaa;
	font-size:14pt;
	top:15px;
}

input:focus + label, label{
	color:#8aa1a1;
	font-size:10pt;
	pointer-events: none;
	position: absolute;
	left:0px;
	top:0px;
	transition: all 0.2s ease ;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	-o-transition: all 0.2s ease;
}

input:focus, input:not(:placeholder-shown){
	border-bottom: solid 1px #8aa1a1;
	outline:none;
}

input[type=submit]{
	background-color: #8aa1a1;
	border:none;
	color:white;
	border-radius: 5px;
	width:100%;
	height:35px;
	font-size: 14pt;
	/* margin-top:50px; */
}
div #midConfirmResult, #mpwChkResult, #memailConfirmResult{
	text-align: left;
}
#midConfirmResult b, #mpwChkResult b, #memailConfirmResult b{
	font-size: 0.7em;
	color: red;
	text-align: left;
}

#midConfirmResult i, #mpwChkResult i, #memailConfirmResult i{
	font-size: 0.7em;
	color: #1DBF73;
	font-weight: bold;
	text-align: left;
}

#forgot{
	text-align: right;
	font-size:12pt;
	color:rgb(164, 164, 164);
	margin:10px 0px;
}

button .joinBtn{ 
	position:absolute; top:50%; left:50%;
  	width:120px; height:30px; margin-top:-15px; margin-left:-60px;
  	line-height:15px; cursor:pointer;
}
