@charset "UTF-8";
	*{
		padding:0; margin: 0;
		font-family: 'Noto Serif KR', serif;
	}
	footer {
		margin-top: 100px;
		padding-bottom: 25px;
		height:500px;
		justify-content:center;
		width: 100%;
		height:300px;
		background-color:black;
	}
	footer ul {
		overflow:hidden;
		width:1000px;
		margin:20px;
		margin: 0 auto;
	}
	footer li {
		float:left;
		padding-left:20px;
		color:white;
		list-style: none;
		padding:5px;
	}
	footer img {
		width:300px;
	}
	