@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #222;
}

span {
	color: #1DBF73;
	font-size: 50px;
}

span:hover {
	color: #fff;
	transition: 0.5s;
}

.container {
	max-width: 90%;
	margin: 0 auto;
}

.logo {
	font-size: 46px;
	color: #fff'
}

.header {
	position: fixed;
	background-color: rgba(34, 34, 34, 0.6);
	top: 0;
	left: 0;
	right: 0;
	transition: all 0.3s ease-in-out;
	z-index: 100;
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	line-height: 80px;
	transition: all 0.3s ease-in-out;
	z-index: -3;
}

.header .container:nth-child(1) {
	left: 0;
}

.header ul {
	display: flex;
	list-style-type: none;
	align-items: center;
	justify-content: center;
}

.header a {
	color: #fff;
	text-decoration: none;
	padding: 7px 15px;
	transition: all 0.3s ease-in-out;
}

.header.active {
	background-color: #fff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.header.active a {
	color: #000;
}

.header.active .container {
	padding: 10px 0;
}

.header a.current, .header a:hover {
	color: #1DBF73;
	font-weight: bold;
}

.header .imgNoti {
	margin-top: 30px;
	height: 30px;
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

.header .imgNoti:hover {
	filter: sepia(100%);
}

.header .imgLogout {
	margin-top: 30px;
	height: 25px;
}

.header .imgLogout:hover {
	-webkit-filter: invert(1);
}

.header .container .notification:hover {
	color: red;
}

.header .container .notification {
	position: relative;
}

.header .container .notification .badge {
	position: absolute;
	top: -7px;
	right: 11px;
	border-radius: 80%;
	background: red;
	color: white;
	height: 17px;
	line-height: 15px;
	width: 17px;
	text-align: center;
	justify-content: center;
	font-weight: bold;
}

.mainSection {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
		url('https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	height: 100vh;
	color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	z-index: -100;
}

.mainSection .oldDiv {
	margin: 0 auto;
	text-align: center;
	width: 100%;
	position: absolute;
	top: 300px;
}

.mainSection .oldDiv h1 {
	font-size: 3.5em;
	z-index: 1;
	padding-bottom: 20px;
}

.mainSection .oldDiv p {
	font-size: 20px;
	letter-spacing: 1px;
	line-height: 30px;
	padding-bottom: 200px;
}

#buttons {
	position: absolute;
	top: 70%;
	width: 100%;
	height: 200px;
	text-align: center;
	justify-content: center;
}

#buttons .btn1 {
	position: relative;
	text-align: center;
	color: white;
	border: 1px solid white;
	width: 200px;
	height: 66px;
	background-color: transparent;
	font-size: 0.8em;
}

#buttons .btn1:hover {
	background-color: rgba(0, 0, 0, 0.1);
	cursor: pointer;
	border: none;
}

#buttons .btn2 {
	position: relative;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.6);
	color: black;
	border: 1px solid transparent;
	width: 200px;
	height: 66px;
	font-size: 0.8em;
}

#buttons .btn2:hover {
	background-color: rgba(255, 255, 255, 0.75);
	cursor: pointer;
}

#switch, #circle {
	cursor: pointer;
	-webkit-transition: all 300ms linear;
	transition: all 300ms linear;
	background: #cd4439;
}

#switch {
	width: 60px;
	height: 8px;
	border-radius: 27px;
	background: #1DBF73;
	text-align: center;
	opacity: 1;
	transform: translate(0);
	transition: all 100ms linear;
	transition-delay: 100ms;
	z-index: 100;
}

#circle {
	position: absolute;
	top: -11px;
	left: -13px;
	width: 26px;
	height: 26px;
	border-radius: 50%;
	background: #cd4439;
}

.switched {
	border-color: #1DBF73 !important;
	background: #cd4439 !important;
}

.switched #circle {
	left: 43px;
	box-shadow: 0 4px 4px rgba(26, 53, 71, 0.25), 0 0 0 1px
		rgba(26, 53, 71, 0.07);
	background: #cd4439;
}

.header.change {
	position: fixed;
	background: transparent;
	top: 0;
	left: 0;
	right: 0;
	transition: all 0.3s ease-in-out;
	z-index: 100;
}

.header .container:nth-child(1) {
	left: 0;
}

.header.change a {
	color: white;
	text-decoration: none;
	padding: 7px 15px;
	transition: all 0.3s ease-in-out;
}

.header.change li a {
	color: black;
	text-decoration: none;
	padding: 7px 15px;
	transition: all 0.3s ease-in-out;
}

.header.active.change {
	background-color: black;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.header.change .imgNoti {
	margin-top: 30px;
	height: 30px;
	filter: none;
}

.header .imgNoti {
	margin-top: 30px;
	height: 30px;
	filter: invert(100%);
}

.header.change .imgLogout {
	margin-top: 30px;
	height: 25px;
	-webkit-filter: invert(1);
}

.mainSection.change {
	background: linear-gradient(rgba(255, 255, 255, 0.3),
		rgba(255, 255, 255, 0.3)),
		url('https://img.freepik.com/premium-vector/abstract-grey-white-tech-geometric-corporate-design-background-eps-10-vector-illustration_73729-217.jpg?w=2000');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	position: relative;
	z-index: 50;
	margin: 0;
}

.newDiv {
	display: none;
	overflow: hidden;
}

.newDiv #friends {
	float: left;
	position: absolute;
	left: 0;
	width: 400px;
	background-color: rgba(32, 34, 34, 0.8);
	height: 100vh;
	top: 0;
	text-align: left;
	padding-left: 40px;
	padding-top: 50px;
}

.newDiv #friends hr {
	margin: 10px 0;
	width: 300px;
	size: 0.5px;
	color: grey;
	border: none;
	border-top: 0.5px solid grey;
}

.newDiv #friends h3 {
	font-size: 2em;
}

.newDiv #friends h3:nth-child(1) {
	padding-top: 50px;
}

.newDiv #friends li {
	padding: 7px;
	list-style: none;
	font-weight: 300;
}

.friendsButton {
	background: none;
	border: none;
	color: #1DBF73;
	font-size: 0.7em;
}

.friendsButton2 {
	background: none;
	border: none;
	font-size: 2em;
	font-weight: 300;
}

#findFriend {
	width: 260px;
	overflow: hidden;
	height: 40px;
	line-height: 40px;
	justify-content: center;
}

#findFriend h4 {
	float: left;
	margin: 0;
	font-size: 2em;
}

#findFriend .schItem {
	float: left;
	padding: 7px;
	color: black;
	background-color: rgba(255, 255, 255, 0.6);
	border: none;
	margin: 10px 0 10px 10px;
}

.newDiv #friends li button:Hover {
	cursor: pointer;
	opacity: 0.7;
}

.searchBtn {
	margin-top: 10px;
	border: none;
	outline: none;
	font-size: 1em;
	color: white;
	background: transparent;
}

.searchBtn:HOVER {
	cursor: pointer;
	color: grey;
}

.schWord {
	margin-top: 10px;
	margin-right: 15px;
	border: none;
	width: 150px;
	outline: none;
	border-bottom: 1px solid grey;
	text-align: left;
	background: transparent;
	color: white;
	font-size: 1em;
}

div.scrollable {
	width: 90%;
	height: 15vh;
	margin-top: 20px;
	overflow: scroll;
	overflow-x: hidden;
	border: 1px solid grey;
	scrollbar-color: dark;
	display: inline-block;
}

div.scrollable h3 {
	padding: 10px 10px;
}

div.scrollable table {
	padding: 3px;
	width: 100%;
}

div.scrollable table td {
	width: 50%;
}

div.scrollable table td:nth-child(1) {
	text-align: left;
	padding-left: 20px;
}

div.scrollable table td:nth-child(2) {
	text-align: center;
}

.newDiv #groups {
	float: left;
	color: black;
	height: 80vh;
	width: 73vw;
	text-align: center;
	padding: 10px;
	position: absolute;
	left: 26vw;
	top: 50px;
}

#groups table {
	margin: 10px auto;
	width: 90%;
	border-collapse: collapse;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.0 .05);
	background-color: rgba(244, 243, 240, 0.5);
	border: 0.5px solid #CCCCCC;
	color: black;
	padding: 10px;
}

#groups table tr {
	height: 50px;
}

#groups table tr:HOVER {
	cursor: pointer;
	color: grey;
}

#groups table td {
	text-align: center;
	padding: 0;
	margin: 0;
}

#groups table td:nth-child(1) {
	transform: rotate(-90deg);
	font-size: 3.5em;
	font-weight: 900;
	color: #3F3F3F;
	margin-bottom: 100px;
}

#groups table td:nth-child(2) {
	text-align: left;
	width: 70%;
}

#groups table td .groupTitle {
	font-size: 1.7em;
	font-weight: 900;
	text-transform: uppercase;
	margin: 20px;
}

#groups table td .groupTitle::first-letter {
	color: #cd4439;
}

#groups table td .groupContent {
	font-size: 1em;
	color: #3F3F3F;
	margin: 20px;
}

#groups table td .groupDate {
	margin-right: 40px;
	padding: 10px;
	font-size: 1em;
	colo: black;
}

.paging a {
	color: black;
	text-decoration: none;
}

.paging .num2 {
	font-weight: bold;
}

.makeGroup {
	color: black;
	background-color: #D5D8DC;
	border: 0;
	outline: none;
	padding: 10px;
	border-radius: 4px;
	margin: 0 auto;
}

.makeGroup:HOVER {
	font-weight: bold;
}

.footer.change {
	z-index: 100;
	position:relative;
	background: transparent;
}

.footer.change .container {
	justify-content: space-between;
	align-items: center;
}

.footer.change .container {
	left: 0;
	width: 100%;
}

.footer.change p {
	font-size: 0.7em;
	text-align: center;
	color: black;
	list-style: none;
	margin: 0 auto;
	width: 70%;
}

.footer.change a:hover {
	opacity: 0.5;
}