@charset "UTF-8";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	color: #222;
}

span {
	color: #1DBF73;
	font-size: 50px;
}

span:hover {
	color: #fff;
	transition: 0.5s;
}

.container {
	max-width: 90%;
	margin: 0 auto;
}

.logo {
	font-size: 46px;
	color: #fff'
}

.header {
	position: fixed;
	background-color: #222;
	top: 0;
	left: 0;
	right: 0;
	transition: all 0.3s ease-in-out;
	z-index: 100;
}

.header .container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	line-height: 80px;
	transition: all 0.3s ease-in-out;
	z-index: -3;
}

.header .container:nth-child(1) {
	left: 0;
}

.header ul {
	display: flex;
	list-style-type: none;
	align-items: center;
	justify-content: center;
}

.header a {
	color: #fff;
	text-decoration: none;
	padding: 7px 15px;
	transition: all 0.3s ease-in-out;
}

.header.active {
	background-color: #fff;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.header.active a {
	color: #000;
}

.header.active .container {
	padding: 10px 0;
}

.header a.current, .header a:hover {
	color: #1DBF73;
	font-weight: bold;
}

.header .imgNoti {
	margin-top: 30px;
	height: 30px;
	-webkit-filter: invert(100%);
	filter: invert(100%);
}

.header .imgNoti:hover {
	filter: sepia(100%);
}

.header .imgLogout {
	margin-top: 30px;
	height: 25px;
}

.header .imgLogout:hover {
	-webkit-filter: invert(1);
}

.header .container .notification:hover {
	color: red;
}

.header .container .notification {
	position: relative;
}

.header .container .notification .badge {
	position: absolute;
	top: -7px;
	right: 11px;
	border-radius: 80%;
	background: red;
	color: white;
	height: 17px;
	line-height: 15px;
	width: 17px;
	text-align: center;
	justify-content: center;
	font-weight: bold;
}

#totalWrap {
	background: linear-gradient(rgba(255, 255, 255, 0.3),
		rgba(255, 255, 255, 0.3)),
		url('https://img.freepik.com/premium-vector/abstract-grey-white-tech-geometric-corporate-design-background-eps-10-vector-illustration_73729-217.jpg?w=2000');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
	margin: 0 auto;
	margin-top: 80px;
	height: 100vh;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	width: 100vw;
	display: inline-block;
	overflow: hidden;
}

#totalWrap #content {
	float: left;
	width: 40%;
	height: 90%;
	margin: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
	margin-bottom: 50px;
}

.groupDetail table {
	content-align: center;
	text-align: left;
	margin: 0 auto;
	width: 80%;
	height: 35%;
	border-collapse: collapse;
	margin-bottom: 10px;
}

#totalWrap #content .groupDetail table h1 {
	text-align: left;
	font-size: 3em;
	margin-top: 10px;
	margin-bottom: 20px;
}

#totalWrap #content .groupDetail table td {
	width: 50%;
	padding: 5px;
}

#totalWrap #content .groupDetail table td:last-child {
	content-align: right;
	text-align: right;
}

#totalWrap #content .groupDetail table th {
	text-align: center;
}

table .titles {
	font-weight: bold;
}

.groupModifyBtn {
	color: black;
	background-color: #D5D8DC;
	border: 0;
	outline: none;
	padding: 10px;
	border-radius: 4px;
	margin: 0 auto;
	text-align: center;
	width: 150px;
	height: 50px;
}

.groupModifyBtn:HOVER {
	color: #494949;
	background-color: rgba(213, 216, 220, 0.7);
	cursor: pointer;
}

.btn3 {
	color: white;
	background-color: #4F967B;
	border: 0;
	outline: none;
	padding: 7px;
	border-radius: 3px;
	margin: 0 auto;
	text-align: center;
	margin-right: 10px;
}

.btn3:HOVER {
	background-color: rgba(79, 150, 123, 0.7);
	cursor: pointer;
}

.groupMember {
	content-align: center;
	text-align: left;
	margin: 0 auto;
	width: 80%;
	height: 35%;
	border-collapse: collapse;
	margin-bottom: 10px;
}

.groupMember table {
	content-align: center;
	text-align: left;
	margin: 0 auto;
	width: 100%;
	height: 35%;
	border-collapse: collapse;
	margin-bottom: 10px;
}

.scrollable {
	overflow: scroll;
	overflow-x: hidden;
	scrollbar-color: dark;
	display: inline-block;
	background-color: transparent;
}

#totalWrap #content .groupMember table td {
	width: 350px;
	text-align: center;
	padding: 5px 10px 5px 10px;
}

#totalWrap #content .groupMember table td:nth-child(4) {
	padding: 0;
}

#totalWrap #content .groupMember h1 {
	text-align: left;
	font-size: 3em;
	margin-top: 10px;
	margin-bottom: 20px;
	width: 100%;
}

}
.groupMember .titles {
	border-bottom: 1px solid #E5E5E5;
}

#totalWrap #content .buttons {
	text-align: center;
	margin: 0 auto;
	width: 80%;
	margin-top: 20px;
	padding: 10px;
}

.groupInfoBtn {
	color: black;
	background-color: #D5D8DC;
	border: 0;
	outline: none;
	padding: 10px;
	border-radius: 4px;
	margin: 0 auto;
	width: 120px;
	height: 50px;
}

.groupInfoBtn:HOVER {
	color: #494949;
	background-color: rgba(213, 216, 220, 0.7);
	cursor: pointer;
}

.groupFinishBtn {
	color: black;
	background-color: rgb(97, 42, 37);
	border: 0;
	outline: none;
	padding: 10px;
	border-radius: 4px;
	margin: 0 auto;
	width: 150px;
	height: 50px;
}


/* #chatting{
	float: left;
	width: 40%;
	height: 90%;
	margin: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	margin-bottom: 50px;
   background: linear-gradient(
          rgba(255, 255, 255, 0.2), 
          rgba(255, 255, 255, 0.2)
        ), url('https://images.unsplash.com/photo-1517816743773-6e0fd518b4a6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTN8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom center;
}

#chattingBoardWarp{
   width: 550px;
   border-radius: 10px;
   margin-bottom: 100px;
   padding-top : 10px;
   padding-bottom : 10px;
   background-color: rgba(32, 34, 34, 0.4);
   
}

접속회원 리스트
#chattingBoardWarp #chattingHeaderBar{
   width: 500px;
   border-radius: 10px;
   padding: 5px;
   margin-bottom: 10px;
   margin-top: 10px;
   text-align: center;
   background-color: rgba(255, 255, 255, 0.4);
}

#chattingBoardWarp #chattingHeaderBar p:nth-child(1){
   color: white;
   font-weight: bold;
   font-size: 25px;
}
#chattingBoardWarp #chattingHeaderBar p:nth-child(2){
   text-align : right;
   margin-top : 10px;
   font-weight: bold;
   padding-right: 10px;
}



기존 대화창 이전대화 가져오기
#chattingBoardList{
   border-radius: 10px;
   padding: 5px;
   background-color: rgba(255, 255, 255, 0.4);
   
}
#chattingBoardList table#exsitingList,
#chattingBoardList table#pastGroupBoardResult{
   border-collapse: collapse;
   width: 100%;
}

#chattingBoardList table#pastGroupBoardResult{
   margin-left: 0;
}

#chattingBoardList #exsitingList tr td,
#chattingBoardList table#pastGroupBoardResult tr td{
   display: inline-block;
}

#chattingBoardList table#exsitingList tr td:nth-child(1),
#chattingBoardList table#exsitingList tr td:nth-child(2),
#chattingBoardList table#pastGroupBoardResult tr td:nth-child(1),
#chattingBoardList table#pastGroupBoardResult tr td:nth-child(2){
   display: none;
}

#chattingBoardList table#exsitingList tr td:nth-child(3),
#chattingBoardList table#pastGroupBoardResult tr td:nth-child(3){
   border-radius: 10px;
   color : #1DBF73;
   float: left;
   height: 10px;
   font-weight: bold;
   font-size: 20px;
   margin-bottom: 5px;
   color : rgba(0, 0, 0, 0.7);
   
}

#chattingBoardList table#exsitingList tr td:nth-child(4),
#chattingBoardList table#pastGroupBoardResult tr td:nth-child(4){
   clear : both;
   border-radius: 0px 20px 20px 20px;
   max-width: 70%;
   margin: 10px;
   margin-bottom :0px;
   float: left;
   padding: 10px;
   background-color: rgba(0, 0, 0, 0.2);
   word-break:break-all;
   margin-left: 0px;
   color : white;
}

#chattingBoardList table#exsitingList tr td:nth-child(5),
#chattingBoardList table#pastGroupBoardResult tr td:nth-child(5){
   font-size: 5px;
   padding : 5px;
   float: left;
   border: 2px solid black;
   background-color : darkgray;
   border-radius: 20px;
   opacity: 0.6;
}
#chattingBoardList table#exsitingList tr td:nth-child(5):hover,
#chattingBoardList table#pastGroupBoardResult tr td:nth-child(5):hover{
   cursor : pointer;
   opacity : 1;
}

#chattingBoardList table#exsitingList tr td:nth-child(6),
#chattingBoardList table#pastGroupBoardResult tr td:nth-child(6){
   margin-top : 1px;
   padding-top : 1px;
   text-align : center;
   clear : both;
   font-size: 5px;
   float: left;
   margin-bottom: 20px;
   padding-left: 15px;
   color : gray;
}

내가쓴 대화창
#chattingBoardList #exsitingList tr td


입력창
#chattingBoardInsert {
   text-align : center;
   line-height : 10px;
   margin-bottom : 10px;
   margin-top : 10px;
   width : 500px;
   border-radius: 10px;
   padding: 5px;
   background-color: rgba(255, 255, 255, 0.4);
}
#chattingBoardInsert input[type='text']{
   display: inline-block;
   width: 350px;
   height: 45px;
   border: none;
   margin-left: 5px;
   margin-right: 5px;
   padding-left: 10px;
}
#chattingBoardInsert input[type='text']:hover{
   cursor: pointer;
   box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.4) inset;
}
#chattingBoardInsert input[type='text']:focus{
   outline: none;
   box-shadow: 1px 1px 5px 2px rgba(0, 0, 0, 0.4) inset;
   
}
#chattingBoardInsert label {
   display: inline-block;
   float : left;
   width: 40px;
   height: 30px;
   padding: 5px;
   border-radius: 10px;
}
#chattingBoardInsert label:hover{
   cursor: pointer;
   background-color: rgba(0, 0, 0, 0.7);
}
#chattingBoardInsert img#insertGroupBoard{
   padding: 5px;
   border-radius: 10px;
}
#chattingBoardInsert img#insertGroupBoard:hover{
   cursor: pointer;
   background-color : rgba(0, 0, 0, 0.7);
}
#chattingBoardInsert p#upload-name{
   padding-left: 10px; 
   color : lightgray;
}

스크롤
#chattingBoardList::-webkit-scrollbar-thumb{
   height: auto; 
   background-color: rgba(0, 0, 0, 0.8); 
   border-radius: 10px;
}
#chattingBoardList::-webkit-scrollbar{
   width: 10px;  
   opacity: 0.4;
}
#chattingBoardList::-webkit-scrollbar-track{
   border-radius: 20px;
   background-color: rgba(0, 0, 0, 0.5); 
}

새로 가져오는 글
#chattingBoardList table#singleLatestGroupboardResult{
   border-collapse: collapse;
   width: 100%;
}

#chattingBoardList table#singleLatestGroupboardResult tr td{
   display: inline-block;
}

#chattingBoardList table#singleLatestGroupboardResult tr td:nth-child(1),
#chattingBoardList table#singleLatestGroupboardResult tr td:nth-child(2),
#chattingBoardList table#singleLatestGroupboardResult tr td:nth-child(7){
   display: none;
}

#chattingBoardList table#singleLatestGroupboardResult tr td:nth-child(3){
   border-radius: 10px;
   color : #1DBF73;
   float: left;
   height: 10px;
   font-weight: bold;
   font-size: 20px;
   margin-bottom: 5px;
   color : rgba(0, 0, 0, 0.7);
}
#chattingBoardList table#singleLatestGroupboardResult tr td:nth-child(4){
   clear : both;
   border-radius: 0px 20px 20px 20px;
   max-width: 70%;
   margin: 10px;
   margin-bottom :0px;
   float: left;
   padding: 10px;
   background-color: rgba(0, 0, 0, 0.2);
   word-break:break-all;
   margin-left: 0px;
   color : white;
}

#chattingBoardList table#singleLatestGroupboardResult tr td:nth-child(5){
   font-size: 5px;
   padding : 5px;
   float: left;
   border: 2px solid black;
   background-color : darkgray;
   border-radius: 20px;
   opacity: 0.6;
}

#chattingBoardList table#singleLatestGroupboardResult tr td:nth-child(6){
   margin-top : 1px;
   padding-top : 1px;
   text-align : center;
   clear : both;
   font-size: 5px;
   float: left;
   margin-bottom: 20px;
   padding-left: 15px;
   color : gray;
}
 */